<!DOCTYPE html>
<html class="no-js" lang="en">
    <!-- Global CSS -->
    <head>
        <meta charset="utf-8">
        <title>Kamille Johnson</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css') }}">
        <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js') }}"> </script>

        <!-- d3.js, c3 css and js  -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/c3.main.css') }}" >

        <!-- Load d3.js and c3.js -->
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="{{url_for('static',filename='js/c3.main.js') }}"></script>
        <!-- end d3 and c3 -->
    </head>
    <body class="body-wrapper">
        <div class="container">
            
        </div>
        <script src="{{url_for('static',filename='js/main.js') }}"></script>
    </body>
</html>


